<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <ProjectUrl>https://github.com/StummeJ/SaferString</ProjectUrl>
  <LicenseUrl>https://github.com/StummeJ/SaferString/blob/master/LICENSE</LicenseUrl>
  <Authors>James Stumme</Authors>
  <Owners>James Stumme</Owners>
  <Copyright>Copyright 2016</Copyright>
  <Description>extension methods to reduce the attack surface when converting Strings to SecureStrings</Description>
  <Summary>Safer string operations</Summary>
  <Keywords>string, securestring, saferstring</Keywords>
</NuGetPack>