<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>http://project.url/favicon.ico</IconUrl>
  <ProjectUrl>http://project.url</ProjectUrl>
  <LicenseUrl>http://project.url/license</LicenseUrl>
  <Authors>James Stumme</Authors>
  <Owners>James Stumme</Owners>
  <Copyright>Copyright 2016</Copyright>
  <Description>Demo Description</Description>
  <Summary>Safer string operations</Summary>
  <Keywords>string, securestring, saferstring</Keywords>
</NuGetPack>